section.information 
    .container.information-container
        h2.information-heading У на осталось еще: 
            span.information-quantity 25 ёжиков
        p.information-warning Торопитесь! Акция действует до 26. 02. 2023