section.main 
    .container.main-container
        h1.main-heading ЁЖИКИ
        h2.main-subheading тоже любят молоко
        p.main-descr Заведите себе ёжика. Он всегда выслушает, не будет мяукать в 5 утра и царапать вашу мебель.
        button.main-btn Купить ёжика
