html(lang="ru")
    include chunks/head.pug
    body
        include chunks/header.pug
        include chunks/main.pug
        include chunks/about-us.pug
        include chunks/catalog.pug
        include chunks/information.pug
        include chunks/footer.pug
        script(src="https://code.jquery.com/jquery-3.5.1.min.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.js")
        script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="./js/app.min.js")